<config>
    <metadata>
        <name>HashAuth</name>
        <type>plugin</type>
        <creationDate>2020-09-25</creationDate>
        <lastUpdate>2020-09-25</lastUpdate>
        <author>Avinash S Karanth</author>
        <authorUrl>https://github.com/AvinashSKaranth</authorUrl>
        <supportUrl>https://github.com/AvinashSKaranth/limesurvey-HashAuth/issues</supportUrl>
        <version>1.0.1</version>
        <lastSecurityUpdate>1.0.1</lastSecurityUpdate>
        <license>Apache License Version 2.0</license>
        <description><![CDATA[LimeSurvey Hash SSO auth plugin for Version 3.]]></description>
    </metadata>
</config>